<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.northeastern.fall22_team34">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_team34"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_team34_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fall22_Team34"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".aboutgroup.ShowName"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".sticker.StickersReceivedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".sticker.SendStickerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".sticker.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".tvshows.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".tvshows.activities.TVShowsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>